<div class="topnav">
  <a routerLinkActive="active" routerLink="view1">View 1</a>
  <a routerLinkActive="active" routerLink="view2">View 2</a>
  <a routerLinkActive="active" routerLink="view3">View 3</a>
  <a (click) = "show()">+</a>
</div>
  <!-- The Modal -->
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{{ title }}</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body"class="list-group"style="margin-top:30px;margin-right:30px;">
         <ul style="list-style: none;">
           <li class="list-group-item"><a routerLinkActive="active" routerLink="view1"(click) = "hide()">View 1</a></li>
           <li class="list-group-item"><a routerLinkActive="active" routerLink="view2"(click) = "hide()">View 2</a></li>
           <li class="list-group-item"><a routerLinkActive="active" routerLink="view3"(click) = "hide()">View 3</a></li>
         </ul>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div>
        
      </div>
    </div>
  </div>
<router-outlet></router-outlet>